@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  display: block;
  max-width: 100%;
}
header{
  background: url(./assets/images/mobile/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}