@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  display: block;
  max-width: 100%;
}
header{
  background: url(./assets/images/mobile/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cards{
  min-height: 170px;
}
.deep-earth{
  background: url(./assets/images/mobile/image-deep-earth.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.night-arcade{
  background: url(./assets/images/mobile/image-night-arcade.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.soccer-team-vr{
  background: url(./assets/images/mobile/image-soccer-team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.the-grid{
  background: url(./assets/images/mobile/image-grid.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.above-vr{
  background: url(./assets/images/mobile/image-from-above.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pocket-borealis{
  background: url(./assets/images/mobile/image-pocket-borealis.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.the-curiosity{
  background: url(./assets/images/mobile/image-curiosity.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fisheye{
  background: url(./assets/images/mobile/image-fisheye.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}